@import url(./nav.css);
@import url(./slider.css);
@import url(./genres.css);
@import url(./category-view.css);
@import url(./movieDetails.css);
@import url(./footer.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #EECC1A;
    --dark-color: #3D3D3D;
}
.inactive {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    width: 100vw;
    font-family: 'Jockey One', sans-serif;
}
.titles {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.titles h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    font-size: 1.4em;
    background-color: var(--main-color);
    border-radius: 12px;
    width: 40vw;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    max-width: 200px;
    margin-block-start: 32px;
    margin-block-end: 32px;
    text-decoration: none;
}
.section-title {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.section-title h2 {
    margin-block-start: 32px;
    align-self: center;
    text-align: center;
    border-radius: 14px;
    width: 40vw;
    color: var(--dark-color);
    background-color: var(--main-color);
    font-size: 1.4em;
}

.view-more-trends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: transparent;
    font-size: 1em;
    border: 1px solid var(--main-color);
    border-radius: 14px;
    width: 30vw;
    max-width: 200px;
    font-size: 1.2em;
    font-family: 'Jockey One', sans-serif;
    color: var(--main-color);
    margin-block-end: 30px;
    transition: background-position 0.2s ease;
    background-image: linear-gradient(to right, var(--dark-color) 50%, var(--main-color) 50%);
    background-size: 200% 100%;
    cursor: pointer;
}
.view-more-trends:hover {
    background-position: -100% 0;
    color: var(--dark-color);
}
.back-arrow {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: none;
}
.back-arrow:hover {
    transform: scale(.9);
}
.like-button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--dark-color);
    border-radius: 100%;
    border: none;
    margin: 4px;
    cursor: pointer;
}
.like-button img {
    width: 50%;
    height: 50%;
}
.like-icon-img {
    filter: grayscale(1);
}
.liked {
    border: 2px solid var(--main-color);
    animation: like-animation linear 0.25s;
}
.top-button {
    position:fixed;
    z-index: 1;
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    border: none;
    transition: all;
    background-color: var(--main-color);
    scroll-behavior: smooth;
    cursor: pointer;
}
.top-button img {
    width: 100%;
}
/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}

@keyframes like-animation {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {

    .back-arrow {
        position: absolute;
        left: 20px;
        top: 80px;
    }
}
@media (min-width: 1024px) {

    .back-arrow {
        position: absolute;
        left: 180px;
        top: 80px;
    }
}