.genres-section {
    display: flex;
    flex-direction: column;
    height: auto;
}
.genres-container {
    display: grid;
    justify-content: center;
    width: auto;
    height: 200px;
    overflow: hidden;
    transition: all  400ms ease;
    
}
.genres-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    width: 50%;
}
.genres-list-item{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    color: var(--dark-color);
}

.genres-list-item .clapperboard {
    width: 20px;
}
.genres-list-item h3 {
    text-align: center;
    border-radius: 8px;
    width: 104px;
    height: 30px;
    font-size: 1.1em;
    background-color: var(--main-color);
}
.more-button {
    width: auto;
    align-self: center;
    margin-block-start: 4px;
    margin-block-end: 10px;
    transition: all 500ms ease;
    background-color: transparent;
    border: none;
}
.down-arrow {
    width: 30px;
    height: 30px;
}
.active-more-button {
    transform: rotate(180deg);
    transition: all 500ms ease;
}
.active-genres-main-container {
    height: 600px;
    transition: all  400ms ease;
}
@media (min-width: 768px) {
    .genres-list {
        grid-template-columns: repeat(5, 1fr);
        column-gap: 0px;
    }
    .down-arrow {
        display: none;
    }
    .genres-list-item h3 {
        width: 95px;
    }
}

@media (min-width: 1024px) {
    .genres-list {
        grid-template-columns: repeat(7, 1fr);
        column-gap: 0px;
    }
}