.movie-details {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 600px;
    height: auto;
    color: rgb(237, 237, 237);
}

.movie-details-img-container  .arrow-container{
   display: flex;
   position: absolute;
   justify-content: start;
   right: 0px;
   height: 100px;
   padding: 10px;
   top: 50px;
   width: 100vw;
   max-width: 450px;
   background: linear-gradient(rgba(13, 13, 13, 0.988), rgba(48, 48, 48, 0.01));
}
.movie-details-img-container .back-arrow{
    position: absolute;
    left: 20px;
    top: 20px;
}
.movie-details-img-container .like-button {
    width: 50px;
    height: 50px;
    right: 24px;
    top: 64px;
}
.movie-details-img {
    width: 100%;
    max-width: 450px;
    object-fit: cover;
}
.movie-details-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 96vw;
    max-width: 500px;
    position: relative;
    top: -32px;
    text-align: start;
    background-color: rgb(39, 38, 38);
    padding: 12px;
    border-radius: 24px;
}
.header-movie-details-info {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}
.aditional-info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 0.9em;
}
.aditional-info img{
    width: 16px;
}
.aditional-info div {
    display: flex;
    gap: 8px;
}
.genres-movie-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.movie-genres {
    display: flex;
    flex-wrap: wrap;
}
.movie-genres img {
    display: none;
}
.movie-genres h3 {
    font-size: 1em;
    width: auto;
    min-width: 80px;
    padding: 6px;
    height: fit-content;
}
.related-movies h3 {
    text-align: center;
    margin-block-end: 16px;
    color: var(--main-color);
}
.related-movies-container {
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 168px));
    gap: 15px;
    margin-block-end: 20px;
}
.trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100vw;
    max-width: 500px;
    margin-block-start: 24px;
    margin-block-end: 24px;
    color: var(--main-color);
}
.trailer iframe {
    width: 90%;
}


/*Loading css */

.movie-details-info-container-loading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    position: relative;
    top: -32px;
    text-align: start;
    background-color: rgb(39, 38, 38);
    padding: 12px;
    border-radius: 24px;
}

.movie-image-loading {
    height: 500px;
    width: 450px;
    background-color: rgb(93, 93, 93);
}
.movie-details-title-loading {
    background-color: gray;
    width: 150px;
    height: 20px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.movie-score-loading {
    background-color: gray;
    width: 40px;
    height: 20px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.movie-description-loading {
    background-color: gray;
    width: 100%;
    height: 80px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.language-loading {
    background-color: gray;
    width: 120px;
    height: 20px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.date-loading {
    background-color: gray;
    width: 120px;
    height: 20px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.runtime-loading {
    background-color: gray;
    width: 120px;
    height: 20px;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}
.trailer-loading {
    width: 90vw;
    height: 300px;
    background-color: gray;
    animation: loading-skeleton infinite 1.5s;
}

.related-movies-loading-container {
    width: 100vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 168px));
    gap: 15px;
    margin-block-end: 20px;
}

.related-movies-loading {
    max-width: 168px;
    height: 252px;
    background-color: gray;
    border-radius: 12px;
    animation: loading-skeleton infinite 1.5s;
}