nav {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    width: 100vw;
    height: 50px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    color: var(--dark-color);
}
.bars__menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
    transform-origin: 0px 100%;
    transition: all 300ms;
}
.bars__menu span:not(.line1__bars-menu) {
    margin-block-start: 6px;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}
.activeline2__bars-menu {
    opacity: 0;
    margin-inline-start: -30px;
}
.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-3px, 0.5px);
}
.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(-100%);
    width: 100vw;
    padding-block-start: 20px;
    transition: all 400ms ease;
    background-color: var(--main-color);
    height: auto;
    min-height: 100vh;
    z-index: 1;
    padding-block-end: 20px;

}
.active-menu {
    transform: translateX(0%);
    flex-direction: column;
    opacity: 100;
    background-color: var(--main-color);
    transition: all 400ms ease;
}
.list-item {
    display: flex;
    font-size: 0;
    list-style: none;
    opacity: 1; 
    margin-inline-start: 15px;
    height: auto;
    transition: all 100ms ease;
    margin-block-end: 10px;
    border-bottom:  1px solid var(--dark-color);
    cursor: pointer;
}
.list-item:hover {
    font-size: 1em;
}
.active-list-item {
    font-size: 0.8em;
    opacity: 1;
    height: auto;
    
}
.categories-title {
    display: flex;
    align-items: center;
    margin-block-end: 10px;
    color: var(--dark-color);
    cursor: pointer;
}
.categories-title:hover {
    transition: all 200ms ease-out;
    font-size: 1.1em;
    border-bottom: 2px solid var(--dark-color);
    padding-right: 10px;
    margin-left: 10px;
    max-width: fit-content;
}
.right-arrow{
    width: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}
.active-right-arrow{
    transform: rotate(90deg);
    transition: all 300ms ease;
}
.categories-list {
    height: 1px;
    transition: all 400ms ease;
    width: fit-content;
    padding-inline-start: 20px;
    color: var(--dark-color);
    list-style: none;
}
.active-menu-ul {
    display: flex;
    padding-inline-end: 16px;
    flex-direction: column;
    height: auto;
}
.favorites {
    margin-left: 20px;
    color: var(--dark-color);
    cursor: pointer;
}
.favorites:hover {
    transition: all 200ms ease-out;
    font-size: 1.1em;
    border-bottom: 2px solid var(--dark-color);
    padding-right: 10px;
    max-width: fit-content;
}
.languages-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    height: 22px;
    margin-inline-start: 20px;
    margin-block-start: 10px;
}
.languages-container .languages-title {
    align-items: center;
    color: var(--dark-color);
}
.languages-title:hover {
    transition: all 200ms ease-out;
    font-size: 1.1em;
    border-bottom: 2px solid var(--dark-color);
    padding-right: 10px;
    max-width: fit-content;
}

.languages-container .english, .spanish {
    width: 25px;
    height: 25px;
}
.english img, .spanish img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
}
.english:hover, .spanish:hover {
    transform: scale(1.2);
}
.logo {
    margin: 0 auto;
    width: auto;
    text-align: center;
    cursor: pointer;
}

nav .search{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    height: 20px;
    width: auto;
    justify-self: center;
    gap: 10px;
    cursor: pointer;
}
.input-bar {
    width: 0px;
    opacity: 0;
    transition: all 300ms ease;
    background-color: var(--main-color);
    border: 1px solid var(--dark-color);
    border-radius: 12px;
    z-index: 100;
}

.active-search-input {
    opacity: 1;
    width: 70vw;
    height: 30px;
    background-color: #eecb1a6a;
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
    border-radius: 12px;
    z-index: 1;
    padding-inline-start: 10px;
    padding-inline-end: 8px;
    outline: none;
}
.search-icon {
    width: 20px;
    height: 100%;
    cursor: pointer;
}
.active-search-icon {
    width: 20px;
    height: 100%;
    content: url(../icons/x-symbol.svg);
    cursor: pointer;
}
.search-button {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 55px;
    padding-block-end: 6px;
    z-index: 2;
    cursor: pointer;
}
.search-button img {
    width: 20px;
}

@media (min-width: 768px) {
    .bars__menu {
        display: none;
    }
    .menu {
        width: 0px;
    }
    .logo {
        margin: 0 0px 0px 10px;
        text-align: start;
    }
    .categories-title {
        position: absolute;
        top: -35px;
        left: 200px;
    }
    .categories-title:hover {
        margin-left: 0;
    }
    .categories-list {
        position: absolute;
        top: 5px;
        left: 100px;
        padding: 10px;
        border-radius: 14px;
        height: 0px;
        width: 400px;
    }

    .active-menu-ul {
        background-color: var(--main-color);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        width: 400px;
        padding-inline-start: 0;
    }
    .list-item {
        border-bottom:  none;
    }
    .list-item:hover {
        transition: all 100ms ease-out;
        font-size: 1em;
        border-bottom: 2px solid var(--dark-color);
        max-width: fit-content;
    }
    .favorites {
        position: absolute;
        top: -35px;
        left: 320px;
    }
    .languages-container {
        flex-wrap: nowrap;
        width: auto;
        position: absolute;
        top: -35px;
        left: 440px;
        margin-block-start: 0;
        margin-inline-start: 0;
    }
    .active-search-input {
        width: 72vw;
    }
}

@media (min-width: 1024px) {
    .active-search-input {
        width: 75vw;
    }
}

