.slider-container {
    display: grid;
    width: 100vw;
    position: relative;
    z-index: 0;
    margin: 0 auto;
}
.movies-container {
    display: flex;
    height: 100%;
    padding-block-end: 15px;
}
.swiper {
    width: 100%;
    max-width: 500px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80vw;
    max-width: 250px;
}
.swiper-slide img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-color: var(--main-color);
    background-color: rgba(128, 128, 128, 0.583);
    padding: 25px;
    --swiper-navigation-size: 30px;
    border-radius: 100%;
}
.swiper-button-next {
    margin-inline-end: 15px;
}

