.slider-container {
    display: grid;
    width: 100vw;
    position: relative;
    z-index: 0;
    margin: 0 auto;
}
.movies-container {
    display: flex;
    height: 100%;
    padding-block-end: 15px;
}
.slider-loading {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}
.slider-loading-item {
    display: inline-block;
    width: 190px;
    border-radius: 12px;
    height: 300px;
    margin-inline-end: 20px;
    background-color: rgb(89, 89, 89);
    animation: loading-skeleton infinite 1.5s;
}
.swiper {
    width: 100vw;
    max-width: 500px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80vw;
    max-width: 250px;
}
.swiper-slide img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-color: var(--main-color);
    background-color: rgba(128, 128, 128, 0.583);
    padding: 25px;
    --swiper-navigation-size: 30px;
    border-radius: 100%;
}
.swiper-button-next {
    margin-inline-end: 15px;
}

@media (min-width: 768px) {
    .swiper {
        max-width: 800px;
    }
}

@media (min-width: 1024px) {
    .swiper {
        max-width: 75vw;
    }
}