.trends-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 30px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-block-end: 20px;
    margin-block-end: 32px;
}

.trending-movies-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 168px));
    gap: 15px;
}

